.profile {
	width: 100%;
}
.cover{
  width: 100%;
  height: 400px;
  background: black;
  margin-top: -85px;
  position: absolute;
  left: 0;
  background: transparent url('../../assets/backgrounds/Group\ 626@2x.png') ;
  background-position: right;
  background-size: cover;
}
.link{
  color: #375799;
  text-decoration: underline;
  cursor: pointer;
}
.container{
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: 400px;
  background-image: url('../../assets/backgrounds/Group\ 581.png');
  background-position-y: -300px;
  background-position-x: 0px;
}
.content{
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-content: center;
}
.header{
  width: 100%;
  display: flex;
}

.headerText{
  font: 24px/32px Poppins;
  margin-left: 22px;
  text-align: justify ;

}

.mainHeader{
  font: Bold 24px/32px Poppins;
  text-align: center;
  text-align: justify ;

}

.boldText{
  font: Bold 20px/32px Poppins;
  text-align: justify ;

}

.regularText{
  font: 20px/32px Poppins;
  text-align: justify ;
  text-align: justify ;


}

.borderedText{
  border: 3px solid #375799;
  background: white;
  width: 100%;
  border-radius: 20px;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 255px;
}

.bText{
  font: Medium 22px/34px Poppins;
  text-transform: uppercase;
  text-align: justify ;

}


@media (max-width: 1800px){
  .cover{
    background-position-x: 30px;
    background-repeat: no-repeat;
    background-color: black;
  }
}

@media (max-width: 1500px){
  .cover{
    background-position-x: -60px;
    background-repeat: no-repeat;
    background-color: black;
  }

 
}

@media(max-width: 580px){

  .cover{
    background-position: bottom;
    background-size: cover;
  }
}

@media (max-width: 800px) { 
  .cover{
    background-position: right;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .content{
    width: 100%;
    margin-top: -20px;
  }
  .img{
    width: 100px;
    height: 100px;
    margin-left: 10px;
  }
  .headerText{
    font: 16px/22px Poppins;
    margin-left: 22px;
    padding-right: 5px;
    margin-top: 0px;
    text-align: justify ;

  }

  .mainHeader{
    font: Bold 20px/22px Poppins;
    text-align: center;

  }
  
  .boldText{
    font: Bold 16px/20px Poppins;
    padding: 10px;
    text-align: justify ;

  }
  
  .regularText{
    font: 16px/20px Poppins;
    padding: 10px;
    text-align: justify ;

  }

}