.cover{
  width: 100%;
  height: 600px;
  background: black;
  margin-top: -85px;
  position: absolute;
  left: 0;
  background: transparent url('../../assets/backgrounds/Group\ 626@2x.png') ;
  background-position: right;
  background-size: cover;
}
.headerText{
  color: #FFFFFF;
  text-shadow: 0px 3px 6px #00000080;
  font: Bold 44px/60px Poppins;
  width: 652px;
  position: relative;
  top: 210px;
  left: 140px;

}


@media (max-width: 1800px){
  .cover{
    background-position-x: 30px;
    background-repeat: no-repeat;
    background-color: black;
  }
}

@media (max-width: 1500px){
  .cover{
    background-position-x: -60px;
    background-repeat: no-repeat;
    background-color: black;
  }
  .headerText{
    left: 50px;
  }
 
}

@media(max-width: 580px){
  .headerText{
    background-position: auto;
    text-align: left;
    left: 10px;
    
  }
  .cover{
    background-position: bottom;
    background-size: cover;
  }
}

@media (max-width: 800px) { 
  .cover{
    background-position: right;
    background-repeat: no-repeat;
    background-position: bottom;

  }
  .headerText{
    width: 90%;
    font: Bold 30px Poppins;
    left: 0;
    text-align: center;
  }
}