  
.team{
  width: 100%;
}

.teamSection{
  width: 100%;
  height: auto;
  margin-top: 50px;
  background: #375799 url('../../assets/backgrounds/Group\ 622.png');
  background-position-y: -610px;
  background-size: cover;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.teamText{
  font: Bold 42px/50px Poppins;
  color: white;
  margin-top: 68px;
  margin-bottom: 5px;
}

.circle{
  width: 200px !important;
  height: 200px !important;  
  border: 10px solid rgba(0,0,0,0.3);
  border-radius: 50%;
  transition: all 0.4s linear;
}


.circleMask{
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(0,0,0,0.01);
  border: 10px solid transparent;
  flex: 0 0 200px; 
  transition: all 0.3s linear;
  margin-left: 150px;
  z-index: 1;
}  

.mask{
  width: 200px;
  height: 200px;
  background: transparent;
  border: 10px solid transparent;
  border-radius: 50%;
  transition: all 0.2s linear;

}


.circleMask:hover > .circle{
  border: 10px solid white;
}  


.tooltip{
  width: 990px;
  position: absolute;
  background: white;
  border-radius: 10px;
  border: 1px solid black;
  top: 286px;
  left: -250px;
  z-index: 10;
  display: none;
  opacity: 0;
  transition: opacity 0.5s linear;
}
.tooltip > p{
  padding: 10px;
  color: #395997;
}
.circleMask:hover ~ .tooltip{
  display: block;
  opacity: 1;
}
.circleMask:active ~ .tooltip{
  display: block;
  opacity: 1;
}


.helper{
  display: flex;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
}

.teamFlex{
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  margin-top: 60px;
}
.teamFlex2{
  display: flex;
  width: 700px;
  flex-wrap: wrap;
  margin-left: -200px;
  margin-top: 60px;

}

.test{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 50px;
  position: relative;
}

.name{
  color: white;
  font: Bold 24px/35px Poppins;
  text-align: center;
  width: 100%;
  margin-left: 140px;
}

.position{
  color: white;
  font: lighter 18px/27px Poppins;
  margin-top: -17px;
  margin-left: 140px;
}

.textHover{
  position: relative;
  z-index: 1;
  display: inline;
  top: -30px;
  background: white;
  border-radius: 10px;
  border: 1px solid black;
  color: black;
}

.clas2{
  position: absolute;
}
.scientific{
  width: 100%;
  height: 480px;
}
.scientificMask{
  width: 100%;
  height: 480px;
  background: rgba(0,0,0,0.1);
}

.scientificContent{
  width: 100%;
  height: auto;
  position: relative;
  top: -500px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1400px){
  /* .mask{
    top: 0px;
    left: 154px;
  } */
}

@media only screen and (max-width: 1700px) {
  .tooltip{
    width: 700px;
    left: -100px;
  }
}

@media only screen and (max-width: 1433px) {
  .tooltip{
    width: 500px;
    left: -20px;
  }
}

@media only screen and (max-width: 1200px) {
  .tooltip{
    width: 500px;
    left: -100px;
  }
}


@media only screen and (max-width: 1150px) {
  .tooltip{
    width: auto;
    height: auto;
  }
  .teamFlex, .teamFlex2{
    width: 100%;
  }

  .helper{
    width: 100%;
  }
}


@media only screen and (max-width: 1150px) {
  .tooltip{
    width: auto;
    height: auto;
  }
  .teamFlex{
    width: 100%;
  }
  .teamFlex2{
    width: 100%;
    margin-left: 0;
  }
 
  .circleMask{
    margin-left: 100px;
  }
  .test{
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .position{
    margin-left: 100px;
    width: auto;
  }
  .helper{
    width: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .name{
    margin-left: 100px;
    width: auto
  }
}

@media (max-width: 800px) { 
  
  .circleMask{
    margin-left: 0;
  }
  .position{
    margin-left: 0;
    width: auto;
  }
  .name{
    margin-left:0;
    width: auto
  }
  .test{
    width: 100%;
    flex: 1;
  }
  .teamSection{
    background-repeat: repeat;
    height: auto;
  }
  .tooltip{
    width: 317px;
    left: -58px;
    height: auto
  }
  .scientific{
    width: 100%;
    height: auto;
  }
  .scientificMask{
    height: auto;
    width: 100%;
    background: rgba(0,0,0,0.5);
  }
  .scientificContent{
    top: 0;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: rgba(0,0,0,0.1);
  }
  .teamFlex2{
    width: 100%;
    margin-left: 0;
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .helper{
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .teamText{
    font-size: 40px;
    flex-direction: column;
    text-align: center;
    flex-wrap: nowrap;
  }
}