
.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 110px;
	padding: 0;
	background: black;
  z-index: 50;
  background-image: url('../../assets/backgrounds/headerBackground.png');
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding-left: 142px;
  background: transparent;
  transition: all 0.3s linear;

}
.header nav {
	float: right;
	font-size: 100%;
}
.logo{
  width: 90px;
  transition: all 0.3s linear;
}

.header nav a, .burgerMenu a {
	display: inline-block;
	height: 56px;
	line-height: 56px;
  padding: 0 25px;
  font-size: 18px;
	min-width: 50px;
	text-align: center;
	background: rgba(255,255,255,0);
  text-decoration: none;
  text-shadow: 0px 3px 6px #00000080;
	color: #959595;;
  will-change: background-color;
  font: SemiBold 18px/50px Poppins;
  text-align: justify ;

}

.burger{
  display: none;
  float: right;
  position: absolute;
  width: 30px;
  right: 5px;
}

.burgerMenu {
  position: absolute;
  top: 70px;
  background: rgba(0,0,0,0.7);
  height: auto;
  width: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: height 0.3s linear;
}
.burgerHide{
  display: none;
  width: 100%;
  height: 0px;
}

@media (max-width: 800px) { 
  .burger{
    display: block;
  }
  .header{
    padding-left: 10px;
    background: rgba(0,0,0,0.7);
    position: fixed;
    height: 70px;
  }

  nav{
    display: none;
  }
  .logo{
    width: 60px;
  }
}

.header nav a:hover,
.header nav a:active {
	background: rgba(0,0,0,0.2);
}

.header nav a.active {
	color: white;
}
