@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700&display=swap');

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
  margin: 0;
	background: white;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
  height: 100%;
  width: 100%;
}

#loader{
  width: 100%;
  height: 100vh;
  background: white;
  position: fixed;
  z-index: 200;
  overflow: hidden;
  transition: all 0.3s linear;
}