.wraper{
  display: flex;
  width: 106px;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

.line{
  width: 100px;
  border: 1px solid #375799; 
  height: 0;
}

.circle{
  width: 6px;
  height: 6px;
  background: black;
  border-radius: 50%;
}

.lineWhite{
  width: 100px;
  border: 1px solid white; 
  height: 0;
}

.circleWhite{
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
}