.footer{
  width: 100%;
  height: 600px;
  background: black url('../../assets/backgrounds/Group\ 638.png');
  background-repeat: no-repeat;
}

.footerContent{
  width: 50%;
  height: 100%;
  float: right;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1257px) {
  .footerContent{
    margin: 0 auto;
    float: none;
  }
}

.nameError, .e_mailError, .text_error{
  color: red;
  display: none;
  position: relative;
}

.footerHeader{
  color: white;
  font: lighter 85px Poppins;
  margin-top: 20px;
  margin-bottom: 0;
  text-align: justify ;

}

.footerFlex{
  width: 620px;
  display: flex;
  flex-direction: column;
}

.footerSubHeader{
  color: white;
  font-size: 65px;
  margin-top: -30px;
  text-align: justify ;

}

.footerText{
  color: white;
  font: 20px Poppins;
  width: 593px;
  margin-top: -56px;
  text-align: justify ;

}

.formInputTop{
  display: flex;
  width: 500px;
}

.input1{
  margin-right: 20px;
}

.input, .textarea{
  border-radius: 5px;
  outline: none;
  border: 1px solid rgba(256,256,256,0.5);
  background: transparent;
  color: white;
  font: 24px Poppins;
  padding-left: 20px;
  text-align: justify ;

}
.input{
  height: 60px;
  width: 300px;
}

::placeholder { color: white;}

.formBtn{
  width: 620px;
  height: 60px;
  text-align: center;
  font: Bold 26px Poppins;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
  margin-top: 20px;
  background: #35559B;
  text-align: center ;

}

.textarea{
  width: 620px;
  height: 110px;
  resize: none;
  margin-top: 20px;
  padding-top: 10px;
}

@media (max-width: 800px) { 
  .form{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .textarea, .input{
    width: 90%;
    margin: 5px auto;
    
  }
  .formBtn{
    margin: 5px auto;
    width: 90%;
    margin-bottom: 20px;
  }
  .footerContent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .footer{
    height: auto;
  }
  .footerHeader{
    font-size: 50px;
    text-align: center;
    text-align: justify ;

  }
  .footerSubHeader{
    font-size: 46px;
    text-align: center;
    text-align: justify ;

  }
  .footerText{
    margin-top: -18px;
    width: 90%;
    height: auto;
    text-align: center;
    font-size: 16px;
    text-align: justify ;

  }
  .formInputTop{
    width: 100%;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  .footerFlex{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
}
