.section{
  width: 100%;
  /* background: transparent url('../../assets/backgrounds/Group\ 581.png') 0% 0% no-repeat padding-box; */
  background-image: url('../../assets/backgrounds/Group\ 581.png');
  display: flex;
  background-position-y: -500px;
  background-position-x: -20px;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 500px;
  background-repeat: repeat-x;
}
.sectionHeader{
  width: 600px;
  height: 470px;
  background: transparent url('../../assets//backgrounds/Group\ 580.png') 0% 0% no-repeat padding-box;
  margin-top: 50px;
}
.sectionTitle{
  color: #000000;
  text-transform: uppercase;
  font: Bold 42px/50px Poppins;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: justify ;

}
.text{
  width: 1088px;
  font-size: 20px;
  text-align: justify ;

}

.blueTextContainer{
  background: #395997 0% 0% no-repeat padding-box;
  border: 1px solid #7299F033;
  border-radius: 20px;
  width: 1088px;
  height: 103px;
  padding: 0px;
  display: flex;
  justify-content: center;
  margin-top: 47px;
  margin-bottom: 47px;
}

.blueText{
  width: 1048px;
  height: 103px;
  color: #FFFFFF;
  font: Medium 18px/26px Poppins;
  text-transform: uppercase;
  text-align: justify ;

}

.imgSection{
  width: 1088px;
  height: auto;
  display: flex;
}

.img1{
  margin-right: 32px;
  margin-left: -10px;
}

@media only screen and (max-width: 1277px) {
  .imgSection{
    width: 100%;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .img1{
    margin-left: 0;
    margin-right: 20px;
  }
}


@media only screen and (max-width: 1277px) {
  .imgSection{
    width: 100%;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .img1, .img2{
    width: 40%;
  }
  .blueText{
    width: 100%;
    height: auto;
    color: #FFFFFF;
    font: Medium 18px/26px Poppins;
    text-transform: uppercase;
  }
  .blueTextContainer{
    width: 90%;
    margin: 0 auto;
    height: auto;
  }
  .text{
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 800px) { 
  .sectionHeader{
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    background-size: contain;
    background-position: center;
  }
  .sectionTitle{
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  .imgSection{
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .img1{
    margin: 0;
    width: 100%;
  }
  .img2{
    width: 100%;
    margin-top: 5px;
  }
  .blueTextContainer{
    padding: 10px;
    margin: 10px 0;
  }

}

@media(max-width: 580px){
  .sectionHeader{
    background-position: auto;
  }
}

@media(max-width: 767px){
  .sectionTitle{
    margin-top: -90px;
  }
  .sectionHeader{
    margin-top: 0;
  }
}